// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// font
@import url('https://use.typekit.net/hxo7pbg.css');

body {
  color: #2d3c67;
  background-color: #f2ecff;
  text-align: center;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-family: 'aria-text-g2', 'source-han-serif-jp-subset', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
h3 {
  font-family: 'gloock', sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

section {
  padding: 50px 25px;
}

div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 2s ease;
}

div.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-navy {
  color: #eaf6ff;
  background-color: #2d3c67;
}

.fs-countdown-days {
  font-size: calc(1.35rem + 15vw) !important;
}
